# DANH SÁCH LƯU CÁC FILE PRIVATE
(2025)_ComplexTradingBot/SMC_component_fix.py filter=git-crypt diff=git-crypt
(2025)_TriangleHedgingForexBot/*.mq4 filter=git-crypt diff=git-crypt
(2025)_TriangleHedgingForexBot/*.py filter=git-crypt diff=git-crypt